 <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            Ark Creations, LLC
            <small class="d-block mb-3 text-muted">&copy; 2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Vendor Price Lists</a></li>
              <li><a class="text-muted" href="#">Menu Builder</a></li>
              <li><a class="text-muted" href="#"></a>Cook Book Builder</li>
              <li><a class="text-muted" href="#">Custom Imports <small>email</small></a></li>
              <li><a class="text-muted" href="#">Feature Requests</a></li>              
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
