<div class="col-xs-12 col-md-12">                            
                            <table class="pricing-table">
                                <tbody><tr>
                                    <td width="30%" class="pricing-table-text">
                                        <h2>Select the package that best suits your needs.</h2>
                                        <p>Pay monthly, or save big with an annual subscription.</p>
                                        <p><button class="btn btn-info">MORE INFORMATION</button></p>
                                    </td>
                                    <td width="20%">
                                        <div class="pricing-table-item">
                                            <div class="pricing-table-item-head">
                                                <p>Basic</p>
                                                <span>Great for startups</span>
                                            </div>
                                            <div class="pricing-table-item-price">
                                                <p>$479<span>/ yr</span></p>
                                                <span>Save 20% per year</span>
                                            </div>
                                            <div class="pricing-table-item-purchase">
                                                <button class="btn btn-success btn-block">Get Started</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="pricing-table-item">
                                            <div class="pricing-table-item-head">
                                                <p>Advanced</p>
                                                <span>Perfect for business</span>
                                            </div>                                            
                                            <div class="pricing-table-item-price">
                                                <p>$649<span>/ yr</span></p>
                                                <span>Save 20% per year</span>
                                            </div>
                                            <div class="pricing-table-item-purchase">
                                                <button class="btn btn-success btn-block">Get Started</button>
                                            </div>                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="pricing-table-item">
                                            <div class="pricing-table-item-head">
                                                <p>Pro</p>
                                                <span>Ideal for projects with high load</span>
                                            </div>
                                            <div class="pricing-table-item-price">
                                                <p>$1,299<span>/ yr</span></p>
                                                <span>Save 20% per year</span>
                                            </div>
                                            <div class="pricing-table-item-purchase">
                                                <button class="btn btn-success btn-block">Get Started</button>
                                            </div>                                            
                                        </div>
                                    </td>
                                </tr>

                                <tr class="pricing-table-list">
                                    <td>Free Domain</td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr class="pricing-table-list">
                                    <td>Locations</td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>Unlimited</td>
                                </tr>
                                <tr class="pricing-table-list">
                                    <td>Bandwidth</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                </tr>
                                <tr class="pricing-table-list">
                                    <td>Disk Space</td>
                                    <td>5GB SSD</td>
                                    <td>30GB SSD</td>
                                    <td>Unlimited</td>
                                </tr>                                    
                                <tr class="pricing-table-list">
                                    <td>Private Databases</td>
                                    <td><span class="fa fa-times"></span></td>
                                    <td><span class="fa fa-times"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                </tr>
                                <tr class="pricing-table-list">
                                    <td>Domain Name</td>
                                    <td><span class="fa fa-times"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                </tr>                                    
                                <tr class="pricing-table-list">
                                    <td>High Availability</td>
                                    <td><span class="fa fa-times"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                </tr>
                                <tr class="pricing-table-list">
                                    <td>IP Address Whitelisting</td>
                                    <td><span class="fa fa-times"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                    <td><span class="fa fa-check"></span></td>
                                </tr>
                                <tr class="pricing-table-list">
                                    <td>Support</td>
                                    <td>Email</td>
                                    <td>Email/Ticket</td>
                                    <td>24/7</td>
                                </tr>
                            </tbody></table>
                        </div>