@page
@using RestaurantPlanner_Site.Pages

@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>We're Sorry</h3>
<p>
    We must have made a mistake. We have been notified and are hard at work to resolve this issue. Can you give us a bit of time to work out the problem and try again?
</p>
