@page
@model RestaurantPlanner_Site.Pages.SuccessModel
@{

}

@section Stylesheets
{
    <link rel="stylesheet" href="~/css/landingstyle.css" />
}
<section class="mail-seccess section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<!-- Error Inner -->
				<div class="success-inner">
					<h1><i class="fa fa-envelope"></i><span>Your Account Created Successfully!</span></h1>
					<p>An email is sent to the email address you provided. Please confirm you email address by clicking on the link provided
						and then login with the password sent to you in the welcome email.</p> 
						<p> You may then change your password.
					</p>
					<a href="./Index" class="btn btn-primary btn-lg">Go Home</a>
				</div>
				<!--/ End Error Inner -->
			</div>
		</div>
	</div>
</section>